* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    text-align: center;

}

#backdrop {
    background-image: url("images/backdrop.png");
    background-size: cover;
    height: 100vh;

    display: flex;
    /* stack items vertically */
    flex-direction: column;
    /* justify-content: center; */
    /* center horizontally */
    align-items: center;
    /* center text inside */
    text-align: center;

    padding-top: 5em;
    color: rgb(177, 109, 8);
}

#backdrop p {
    color: rgb(38, 24, 6);
}

#backdrop a {
    margin-top: 20em;
}

#content {
    padding: 2em 2em 2em 2em;
    background-color: rgb(9, 210, 255);
}

.character-card {
    margin: 3em;

    border: black 5px solid;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.character-card-text {
    padding-left: 2em;
    text-align: left;
}

.character-card-text h3 {
    font-size: 50px;
}

.character-card-img {
    width: 400px;
}